@{
    ViewBag.Title = "New";
}

<h2>Создание документа</h2>
<form method="post">
    <label for="Title">Название файла:</label>
    <input type="text" name="Title" required/>
    <label for="Tags">Теги:</label>
    <input type="text" name="Tags" />
    <br />
    <input type="submit" value="Создать" />
</form>
